In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [11]:
df = pd.read_csv('output.csv')
df.describe()

,floor,total_floor_num,rent_price,room_num,area,year,year_renovation,floors_from_top,top_floor
count,1521.000000,1520.000000,1522.000000,1520.000000,1522.000000,1522.000000,61.000000,1520.000000,1522.000000
mean,3.393820,5.906579,509.475690,2.015132,62.705558,1985.736531,2013.426230,2.510526,0.223390
std,2.269231,3.397588,245.420909,0.810827,288.887174,78.395906,8.112663,2.668401,0.416655
min,0.000000,1.000000,15.000000,1.000000,1.000000,0.000000,1965.000000,0.000000,0.000000
25%,2.000000,4.000000,350.000000,1.000000,37.000000,1973.000000,2012.000000,1.000000,0.000000
50%,3.000000,5.000000,460.000000,2.000000,50.000000,1997.000000,2016.000000,2.000000,0.000000
75%,4.000000,8.000000,620.000000,2.000000,64.835000,2010.000000,2018.000000,4.000000,0.000000
max,20.000000,29.000000,1480.000000,8.000000,8000.000000,2019.000000,2019.000000,24.000000,1.000000

In [12]:
df.head()

,Adresas,floor,total_floor_num,Buto numeris:,rent_price,room_num,year_full,Namo numeris:,Nuoroda,Pastato tipas:,Peržiūrėjo,area,Redaguotas,Įdėtas,Įrengimas:,Šildymas:,year,year_renovation,floors_from_top,top_floor
0,https://www.aruodas.lt/butu-nuoma-vilniuje-pas...,3.0,9.0,NaN,450,2.0,2007,NaN,NaN,Mūrinis,NaN,64.00,NaN,NaN,Įrengtas ...,Centrinis kolektorinis,2007,NaN,6.0,0
1,https://www.aruodas.lt/butu-nuoma-vilniuje-zve...,4.0,4.0,NaN,699,2.0,2019,10,NaN,Mūrinis,NaN,41.47,NaN,NaN,NaN,"Centrinis, elektra",2019,NaN,0.0,1
2,https://www.aruodas.lt/butu-nuoma-vilniuje-sen...,3.0,3.0,NaN,800,3.0,1940,NaN,NaN,Mūrinis,NaN,71.00,NaN,NaN,Įrengtas ...,Dujinis,1940,NaN,0.0,1
3,https://www.aruodas.lt/butu-nuoma-vilniuje-zve...,2.0,3.0,NaN,400,2.0,1969,NaN,NaN,Mūrinis,NaN,41.84,NaN,NaN,Įrengtas ...,Centrinis,1969,NaN,1.0,0
4,https://www.aruodas.lt/butu-nuoma-vilniuje-laz...,2.0,5.0,NaN,390,1.0,2008,NaN,NaN,Mūrinis,NaN,36.00,NaN,NaN,Įrengtas ...,Centrinis kolektorinis,2008,NaN,3.0,0

## train_test_split

In [13]:
df_train = df.select_dtypes(include=['float64','int64'])

df_features = df_train.drop(columns="rent_price")
df_target = df_train["rent_price"]

X_train, X_test, y_train, y_test = train_test_split(df_features, df_target, random_state=42)

## pipline and model

In [14]:
Pipeline = Pipeline(steps = [
    ("impute", SimpleImputer(missing_values=np.nan)), 
    ("scaler", StandardScaler()),
    ("pca", PCA()),
    ("regression", RandomForestRegressor(random_state=42))
])

In [15]:
pipe = Pipeline.fit(X_train, y_train)

print("RSME:", int((mean_squared_error(y_test, pipe.predict(X_test)))**0.5))

RSME: 175

C:\Users\Titas\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)